/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap");

body {
  background: #e9e9e9;
  width: 100vw;
  height: 150vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Navigation */
nav {
  position: absolute;
  top: 10px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 7px 5px;
  border: 2px solid transparent;
  transition: all 0.1s;
  border-radius: 15%;
  font-weight: normal;
}

nav ul a:hover, nav ul a:active {
  color: #FF1D50;
}

nav ul a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FF1D50;
  transition: width 0.3s ease-in-out;
}

nav ul a:hover::after, nav ul a:active::after {
  width: 100%;
}

nav ul:hover {
  text-decoration: underline;
}

/* Header */
header {
  position: absolute;
  top: calc(100vh - 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
}

header h1 {
  font-size: 55px;
  margin-bottom: 5px;
}

header h5 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}

/* Video Background */
.video-wrapper {
  position: relative;
}

.video-wrapper .background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-wrapper .background-video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
}

.video-wrapper .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

/* Photo Gallery */
.gallery-container {
  display: flex;
  justify-content: center;
  margin-top: 10%; /* Add margin to the top */
  margin-bottom: 10%; /* Add margin to the bottom */
  margin-left: 10%;
  margin-right: 10%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%; /* Ensure the grid spans the entire width */
  max-width: 1200px; /* Set a maximum width if needed */
}

.gallery img {
  width: 100%;
  height: auto; /* Let the height adjust according to aspect ratio */
  object-fit: cover;
  margin: 0 20; /* Remove top and bottom margin */
}

img{
  transition: 0.5s;
}

img:hover {
  transform: scale(1.08);
}

/* Video Gallery Section */
.vid-gallery {
  margin-top: 20px;
  text-align: center;
}

.vid-gallery h2 {
  font-size: 2rem;
  color: #FF1D50;
  margin-bottom: 20px;
}

.vid-gallery .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0; /* Remove the gap between videos */
  width: 100%; /* Make the wrapper span the entire width */
}

.vid-gallery .wrapper .vids {
  position: relative;
  cursor: pointer;
  margin: 0; /* Remove any margin */
  height: auto; /* Reset the height */
}

.vid-gallery .wrapper .vids video {
  width: 100%; /* Make the video span the entire width */
  height: 100%; /* Make the video span the entire height of its container */
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s ease;
  max-height: 100%;
  display: block;
  transform: none; /* Remove the scaling transform */
}

.vid-gallery .wrapper .vids.expanded {
  grid-column: span 3;
}

.vid-gallery .wrapper .vids.expanded video {
  height: 100%;
  transition: all 0.5s ease; /* Add transition for animation */
}

/* Additional Styles for Full Width Video Gallery */
.vid-gallery.full-width {
  width: 100vw;
  overflow-x: hidden;
  margin: 0; /* Remove the margin */
}

.vid-gallery .new-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0; /* Remove the gap between videos */
  width: 100%; /* Make the wrapper span the entire width */
}

.vid-gallery .new-wrapper .vids {
  position: relative;
  cursor: pointer;
  margin: 0; /* Remove any margin */
  height: auto; /* Reset the height */
}

.vid-gallery .new-wrapper .vids video {
  width: 100%; /* Make the video span the entire width */
  height: auto; /* Reset the height */
  max-height: 100vh; /* Adjust the max height if needed */
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s ease;
  display: block;
  transform: none; /* Remove the scaling transform */
}

/* Video Overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.vids:hover .video-overlay {
  opacity: 1;
}

/* Footer */
footer {
  background: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {

  header h1 {
    font-size: 40px;
  }

  header h5 {
    font-size: 10px;
  }
}

@media (max-width: 480px) {

  .video-overlay {
    font-size: 75%;
  }

  p{
    font-size: smaller;
  }

  header h1 {
    font-size: 40px;
  }

  header h5 {
    font-size: 12px;
  }
}