/* Variables */
$accent: #FF1D50;
$background: #1B191B;
$mobile: 450px;
$tablet: 750px;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');

/* Base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: $background;
  width: 100vw;
  height: 150vh;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Navigation */
nav {
  top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 5px 3px;
  border: 2px solid transparent;
  transition: all 0.1s;
  border-radius: 15%;
  font-weight: normal;
}
nav ul li a:hover,
nav ul li a:active {
  color: #FF1D50;
}
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FF1D50;
  transition: width 0.3s ease-in-out;
}
nav ul li a:hover::after,
nav ul li a:active::after {
  width: 100%;
}
nav ul:hover {
  text-decoration: underline;
}

/* Header */
header {
  top: calc(100vh - 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  h1 {
    font-size: 75px;
    margin-bottom: 5px;
  }
  h5 {
    font-size: 17px;
    font-weight: normal;
    margin-top: 5px;
  }
}

/* Video and Gallery */
.video-wrapper, .gallery-wrapper {
  position: relative;
  .background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      border: 0;
    }
  }
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}

/* Video Gallery Section */
.vid-gallery {
  margin-top: 100px;
  text-align: center;

  h2 {
    font-size: 2rem;
    color: $accent;
    margin-bottom: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;

    .vids {
      position: relative;
      cursor: pointer;
      margin: 0;
      height: auto;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        max-height: 100%;
        display: block;
        transform: none;
      }

      &.expanded {
        grid-column: span 3;
        video {
          height: 100%;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

/* Video Overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.vids:hover .video-overlay {
  opacity: 1;
}

.vids:hover {
  z-index: 2;
  transform: scale(1.5);
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  p {
    margin: 0;
  }
}
