/* Global Styles */
@font-face {
  font-family: 'Provicali';
  src: url('./Provicali.woff2') format('woff2'),
       url('./Provicali.otf') format('woff');
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('fonts/Gilroy-Light.woff2') format('woff2'),
       url('fonts/Gilroy-Light.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Gilroy Light', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

h1{
  color: #FF0000;
  font-family: 'Provicali', sans-serif;
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
}

h2, h5, a, p {
  font-family: 'Gilroy Light', sans-serif;
}

h3{
  color: #d4d4d4;
  font-family: 'Provicali', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

b{
  font-family: 'Gilroy Light', sans-serif;
  letter-spacing: 0px;
}

body {
  background: #000000;
  font-family: 'Provicali', sans-serif;
  width: 100vw;
  height: 150vh;
  overflow-x: hidden;  
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #a80000 transparent;
  scrollbar-width: thin;
}

/* Navigation */
nav {
  position: absolute;
  top: 10px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 7px 5px;
  border: 2px solid transparent;
  transition: all 0.1s;
  border-radius: 15%;
  font-weight: normal;
}

nav ul a:hover,
nav ul a:active {
  color: #a80000;
}

nav ul a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #a80000;
  transition: width 0.3s ease-in-out;
}

nav ul a:hover::after,
nav ul a:active::after {
  width: 100%;
}

nav ul:hover {
  text-decoration: underline;
}

/* Header */
header {
  width: 340px;
  position: absolute;
  top: calc(100vh - 62.5%);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  color: white;
}

header h1 {
  font-size: 55px;
  margin-bottom: 5px;
}

header h5 {
  font-family: 'Gilroy Light', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}

/* Video Background */
.background-video {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.video-wrapper {
  position: relative;
  background-color: #ffffff00;
}

.video-wrapper .background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-wrapper .background-video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
}

.video-wrapper .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Photo Gallery */
.agallery-container {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
}

.agallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
}

.agallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 20;
  transition: 0.5s;
}

.agallery img:hover {
  transform: scale(1.08);
}

/* Video Gallery Section */
.vid-gallery {
  text-align: center;
}

.vid-gallery h2 {
  font-size: 2rem;
  color: #a80000;
  margin-bottom: 20px;
}

.vid-gallery .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
}

.vid-gallery .wrapper .vids {
  position: relative;
  cursor: pointer;
  margin: 0;
  height: auto;
  background-color: #000000;
}

.vid-gallery .wrapper .vids video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s ease;
  max-height: 100%;
  display: block;
}

.vid-gallery .wrapper .vids.expanded {
  grid-column: span 3;
}

.vid-gallery .wrapper .vids.expanded video {
  height: 100%;
  transition: all 0.5s ease;
}

/* Additional Styles for Full Width Video Gallery */
.vid-gallery.full-width {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.vid-gallery .new-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
}

.vid-gallery .new-wrapper .vids {
  position: relative;
  cursor: pointer;
  margin: 0;
  height: auto;
}

.vid-gallery .new-wrapper .vids video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s ease;
  display: block;
}

/* Video Overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75%;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-family: 'Gilroy Light', sans-serif;
}

.thumbnail .overlay .expand-text {
  font-size: 75%; 
  font-family: 'Gilroy Light', sans-serif;
}

.vids:hover .video-overlay {
  font-family: 'Gilroy Light', sans-serif;
  opacity: 1;
}

/* Footer */
footer {
  background-color: #151515;
  color: #d4d4d4;
  text-align: center;
  padding: 15px 0;
  margin: 0;
}

footer p {
  margin: 0;
}

u {
  color: #d4d4d4;
  transition: 0.3s;
}

u:hover {
  font-weight: bold;
  font-size: 110%;
}

/* Follow Me section */
.two-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.image-column {
  flex: 1;
  max-width: 55%;
  box-sizing: border-box;
}

.text-column {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  max-width: 45%;
}

.image-grid {
  display: flex;
  gap: 5%;
}

.image {
  flex: 1;
  position: relative;
  overflow: hidden;
  padding-bottom: 110%;
  display: flex; /* Center contents vertically and horizontally */
  justify-content: center;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s; 
}

.image img:hover {
  transform: scale(1.1); 
}

.follow-buttons {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
}

.follow-button {
  margin: 5px 0;
  transition: transform 0.5s;

}

.follow-button:hover {
  transform: scale(1.05); 
}

.follow-icon {
  width: 32px;
  height: 32px;
}

.follow-buttons a {
  text-decoration: none;
}

.button-wrapper-instagram , .button-wrapper-tiktok , .button-wrapper-facebook {
  display: flex;
  align-items: center; 
  padding-left: 40px; 
  padding-right: 40px; 
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px; 
  transition: background-color 0.2s; 
}

.button-wrapper-instagram {
  background-color: #f5005640; 
}
.button-wrapper-tiktok {
  background-color: #25252540; 
}
.button-wrapper-facebook {
  background-color: #5c7cfa40; 
}

.button-wrapper-instagram:hover {
  background-color: #f50056ab; 
}
.button-wrapper-tiktok:hover {
  background-color: #252525ab; 
}
.button-wrapper-facebook:hover {
  background-color: #5C7CFAab; 
}

.follow-text {
  margin-left: 10px; 
  color: #fff;
}


/* Add a media query for screens larger than 1024px width */
@media screen and (min-width: 1025px) {
  .follow-text {
    font-size: 20px; 
  }
  .follow-heading {
    font-size: 50px;
    padding: 0%;
  }
  .text-column{
    padding-left: 3%;
    padding-right: 3%;
  }
  .button-wrapper-instagram , .button-wrapper-tiktok , .button-wrapper-facebook{
  padding-left: 80px; 
  padding-right: 80px; 
  padding-top: 15px;
  padding-bottom: 15px;
  }
}

/* Media Query for Screens < 640px */
@media screen and (max-width: 640px) {
  .two-column-container {
    flex-direction: column;
  }

  .image-column,
  .text-column {
    flex: 1;
    max-width: 100%;
  }

  .image {
    padding-bottom: 0;
  }

  .phone-hidden {
    display: none;
  }

  .follow-heading {
    text-align: center;
  }

  .follow-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .follow-button {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }

  .follow-buttons a {
    margin: 0 10px; 
  }

  .follow-buttons a .follow-icon {
    width: 40px; 
    height: 40px;
  }

  .follow-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .button-wrapper-instagram {
    background-color: #f5005600; 
  }
  .button-wrapper-tiktok {
    background-color: #25252500; 
  }
  .button-wrapper-facebook {
    background-color: #5c7cfa00; 
  }

  .follow-icon:hover {
    width: 50px;
    height: 50px;
  }

  .follow-buttons p {
    margin: 0; 
    font-weight: bold;
    align-items: center;
    text-align: center;
  }

  .text-column p {
    text-align: center;
  }
  
  .button-wrapper-instagram , .button-wrapper-tiktok , .button-wrapper-facebook {
    padding: 0%;
  }
  .follow-text {
    display: none;
  }
}

/*scroll bar*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a80000;
  border-radius: 3px;
}

html {
  scrollbar-color: #a80000 transparent;
  scrollbar-width: thin; 
}

/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header h5 {
    font-size: 12px;
  }
}

/*
 DO NOT TAKE THIS .THUMBNAILS
 UNDER MEDIA QUERRY AREA
 OTHERWISE IT RUINS THE GRID FOR
 EITHER PHONE OR DESKTOP
 !!!!!!!!!!!!!!!!!!!!!!!
 */

.thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  grid-row-gap: 0;
  overflow-y: hidden; 
  overflow-x: hidden;
}


@media (max-width: 480px) {

body{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0) 0%, rgb(15, 15, 15) 100%);
}
  .agallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
  }
  .agallery img:nth-last-child(-n+3) {
    display: none;
  }

  .thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    margin-right: 5px;;
    overflow-y: hidden; 
    overflow-x: hidden;
  }

  .vid-gallery .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    width: 100%;
  }
  .vids[data-thumbnail="tb.mp4"] {
    /* This will hide tb.mp4*/
    display: none;
  }

  .vid-gallery .new-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 5px;
    margin-right: 20px ;
    width: 100%;
  }

  header {
    width: 280px;
  }
  .video-overlay {
    font-size: 75%;
  }
  p {
    font-size: smaller;
  }
  header h1 {
    font-size: 40px;
  }
  header h5 {
    font-size: 12px;
  }
 .follow-heading {
    font-family: 'Gilroy Light', sans-serif;
    text-align: justify;
    margin:20%;
    margin-bottom: 10px;
    margin-top: 16%;
    color: #ffffff;
 }
 .follow-buttons{
  margin-bottom: 2.5%;
 }

 .text-column {
  text-align: center;
  position: relative;
}

.text-column::before {
  content: "";
  display: block;
  width: 75%; 
  height: 75.5%; 
  background-color: #240000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57.5%);
  z-index: -1;
  border-radius: 10px;
  animation: colorChange 5s infinite;
}
@keyframes colorChange {
  0% { background-color: #FF00002e; } 
  25% { background-color: #C0C0C02e; } 
  50% { background-color:  #8B00002e; } 
  75% { background-color: #6666662e; } 
  100% { background-color: #FF00002e; } 
}

h3{
  color: #ffffff;
  font-family: 'Provicali', sans-serif;
  font-size: xx-larger;
}

b{
color: #ffffff;
font-family: 'Gilroy Light', sans-serif;
font-weight:10;
}

}


.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}


.thumbnail {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.thumbnail > div {
  margin: 0;
  padding: 0;
}

.thumbnail img,
.thumbnail video {
  max-width: 100%;
  max-height: 100%;
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-player {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 10px); 
  max-height: calc(100% - 10px); 
  transform: translate(-50%, -50%);
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #ffffff00;
  font-size: xx-large;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 100;
}

.thumbnail {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  margin: -2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.expand-text {
  color: #fff;
  font-size: 18px;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.video-popup{
  display: none ;
}
.video-popup-overlay {
  display: none;
}

/*For new gallery*/
.video-popup-new {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-player-new {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 10px); 
  max-height: calc(100% - 10px); 
  transform: translate(-50%, -50%);
}

#close-popup-new {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #ffffff00;
  font-size: xx-large;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 100;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
}

.loader {
  border: 4px solid #252525; 
  border-top: 4px solid #a80000; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-container {
  margin-top: 10px; 
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden; 
}

.loading-text {
  opacity: 0;
  font-size: 24px;
  margin: 10px 20px; 
  animation: fadeInText 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
